/*
!site-lisp/
!site-lisp/**
!.gitignore
!bin/
!bin/**
!etc/
!etc/**
!config/
!config/**
etc/custom.el
config/qutebrowser/quickmarks
config/qutebrowser/autoconfig.yml
config/qutebrowser/qsettings
config/qutebrowser/qsettings/**
config/qutebrowser/bookmarks
config/qutebrowser/bookmarks/**
